<h2>Users: {{usersCount}}</h2>
<ul class="users-listing">
	{{#each user in controller}}
		<li>
			{{#link-to "user" user}}
				{{user.name}}
			{{/link-to}}
		</li>
	{{else}}
		<li>
			{{#link-to "users.create"}} class="create-btn"}}Add User{{/link-to}}
		</li>
	{{/each}}
</ul>
{{outlet}}
{{#link-to "users.create"}} class="create-btn"}}Add User{{/link-to}}
